html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	background:#f3f3f3 url(images/page-bg-repeat.gif) repeat;
	color:#666;
	font-family:Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4 {
	font-family:'Din','Univers','Oswald',sans-serif;
	text-align:center;
	font-weight:bold;
}
h1 {
	color:#669900;
	font-size:40px;
	letter-spacing:0px;
	margin:15px 0;
}
h3 {
	color:#666;
	font-size:30px;
	font-weight:normal;
}
h2 {
	color:#669900;
	font-size:31px;
	font-weight:normal;
	letter-spacing:0px;
	margin:15px 0;
}
p {
	color:#333;
	font-size:12px;
	text-align:center;
}
p a {color:#0066cc;}
label {color:#333;}
label, input {
	font-family:Arial,Helvetica,sans-serif;
}
ul li {list-style-type:none;}
fieldset li {margin-bottom:5px;}
#wrapper {
	margin:0 auto;
	width:900px;
}
.info-form,
.pay-form {
	display:block;
	margin:30px auto;
	width:400px;
}
label {
	float:left;
	font-size:13px;
	line-height:25px;
	width:140px;
}
input.text {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #bbb;
	float:left;
	padding:5px;
	width:240px;
}
input.text:focus {border:1px solid #666;}
input.text.error,
select.error {border:1px solid #d52215;}
select {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #bbb;
	float:left;
	padding:3px 5px;
	width:252px;
}
select.select-half {
	float:left;
	margin-right:10px;
	width:121px;
}
select.select-half.last {margin-right:0;}
hr {
	border:0;
	clear:both;
	display:block;
	margin:0;
	padding:0;
}

.first-submit {
	background-color:#669900;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#fff;
	display:block;
	font-family:'Din','Univers','Oswald',sans-serif;
	font-size:41px;
	letter-spacing:1px;
	line-height:30px;
	margin:30px auto;
	padding:21px 24px;
	text-align:center;
	text-decoration:none;
	width:370px;
}
.first-submit:hover {background-color:#72ab00;}
.first-submit span {
	font-size:14px;
	letter-spacing:0;
	line-height:13px;
}
#plans {margin:30px auto 50px;}
#plans>div {
	background-color:#d7d7d7;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#fff;
	display:block;
	float:left;
	height:180px;
	margin-right:3%;
	padding:20px 0;
	width:22%;
}
#plans>div.selected {background-color:#c0c0c0;}
#plans>div.last {padding-right:0;}
#plans>div h4,
#plans>div a {
	font-family:'Din','Univers','Oswald',sans-serif;
	font-weight:normal;
	text-decoration:none
}
#plans>div a {
	font-size:24px;
}
#plans div h4 {
	color:#333;
	font-size:31px;
	margin-bottom:0px;
}
#plans div h5 {
	color:#333;
	font-family:'Din','Univers','Oswald',sans-serif;
	font-size:17px;
	margin-bottom:10px;
	text-align:center;
}
#plans div p {
	color:#333;
}
#plans>div div {height:120px;}
#plans div a.button {
	background-color:#ff9900;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#fff;
	display:block;
	margin:0 auto;
	padding:7px 0;
	text-align:center;
	width:140px;
}
#plans div a.button.selected {background-color:#ee8f00;}
#plans div a.button:hover {
	background-color:#ffac30;
}

.pay-form {
	position:relative;
}
.pay-form .poweredby {
	position:absolute;
	right:-200px;
	top:0;
}
li.agree {
	padding-left:80px;
	padding-top:10px;
	width:312px;
} 
.checkbox {
	float:left;
	margin:5px 10px 0px 0;
}

.agree-label {
	float:none;
	font-size:11px;
	line-height:13px;
	width:430px;
}
.pay-submit {
	background-color:#ff9900;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#fff;
	display:block;
	font-family:'Din','Univers','Oswald',sans-serif;
	font-size:26px;
	margin:30px auto;
	padding:13px 0;
	text-align:center;
	text-decoration:none;
	width:320px;
}
.pay-submit:hover {
	background-color:#ffac30;
}